Package: AD-PHISH
Version: 1.0
Installed-Size: 9400
Architecture: all
Depends: php, wget, git, curl
Homepage: https://github.com/anasdh06
Description: An automated phishing tool with 30+ templates. This Tool is made for educational purpose only !
